main.container > h1 {
    margin-bottom: 0.1rem; 
}
h2 {
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
}

.actions-cell {
    min-width: 180px; 
    white-space: nowrap; 
}
.actions-cell .grid {
    margin-bottom: 0;
}

section form {
    margin-bottom: 2rem;
}
section form .grid {
    gap: 1rem;
    margin-bottom: 1rem;
}
section form .grid > div {
    margin-bottom: 0;
} 
